<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connection"
       connectionString="SslMode=none; server=127.0.0.1; database=taxionline; Uid=root; pwd=;"
       providerName="System.Data.MySqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>